{
  "presets": ["es2015", "stage-1", "react"],
  "plugins": [
    ["transform-decorators-legacy",
      "react-intl",
      {
        "messagesDir": "./locale/react-intl/",
        "enforceDescriptions": false
      }
    ]
  ]
}
